.rating-vendor{
    .item{
        padding: 0;
        .user{
            font-weight: bold;
            text-align: center;
            padding: 5px;
        }
        .content{
            background: #fff;
            border-radius: 5px;
            padding: 8px;
            position: relative;
            text-align: justify;

            .score{
                color: #6b9023;
                text-align: center;
            }

            &:before{
                content: '';
                position: absolute;
                top: -8px;
                left: 50%;
                margin-left: -8px;

                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;

                border-bottom: 8px solid #fff;
            }
        }
    }
}