.header {
    height: 50px;
    background: #fff;
    // overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    // margin-bottom: 20px;
    box-shadow: 0 1px 3px 0 #0002;
    display: flex;
    justify-content:center;
    z-index: 99;

    .header-wrap{
        display: flex;
        // justify-content: space-between;
        margin-left: auto;
        margin-right: auto;

        padding: 0 8px;
        height: 100%;
        width: 100%;
    }

    .logo{
        padding: 5px;
        img{
            height: 100%;
        }
    }

    .sidenav-section{
        // display: none;
        content: '';
        position: fixed;
        top: 60px;
        left: 0;
        right: 100%;
        bottom: 0;
        background: #0008;
        z-index: 99;
        overflow: hidden;

        .sidenav-close{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .sidenav{
            display: flex;
            flex-flow: row wrap;
            justify-content:center;
            position: absolute;
            left: -300px;
            top: 0;
            bottom: 0;
            width: 300px;
            // margin-left: -300px;

            background: #fff;
            overflow-y: scroll;


            & > .menu{
                font-size: 1.2rem;
                order: 2;
                a{
                    display: block;
                    padding: 12px 20px;
                    border-bottom: 1px solid #e6e6e6;
                }
                & > li > a{
                    font-family: Helvetica Neue,Helvetica,Arial;
                    // text-transform: uppercase;
                    border-bottom: 1px solid #d6d6d6;
                    border-top: 1px solid #d6d6d6;
                    background: #eee;
                }

                & > li > ul > li > a{
                    font-family: Helvetica Neue,Helvetica,Arial;
                    text-transform: uppercase;
                    font-size: 1.1rem;
                }

                li li{
                    a{
                        padding-left: 20px;
                    }
                    & li a{
                        padding-left: 40px;
                        font-style: italic;
                        color: #666;
                    }
                }
            }

            .side-account{
                text-align: center;
                padding: 20px;
                order: 1;
                .register{
                    display: block;
                    margin: 0 auto;
                    text-transform: uppercase;
                    padding: 12px 15px;

                    background: #2d9b00;
                    color: #fff;
                }
                .login{
                    line-height: 40px;
                    text-decoration: underline;
                }
            }
        }
    }

}
// thẻ này sử dụng để bù lại chiều cao của header khi header fixed
.header-replace{
    height: 0;
}

.search-box {
    overflow: hidden;
    // border-bottom: 1px solid $widgetBorder;
    // border-radius: $widgetBorderRadius;
    background: #fff; //$backgroundPage;
    margin: 20px 0 0;
    // width: 100%;
    // float: left;
    // border: solid 1px $themeBg;

    form {
        margin-bottom: 0px;
    }
    // &:focus{
    //     outline: 1px solid red;
    // }

    &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        // border-radius: $widgetBorderRadius;
    }

    .wrap-search-input {
        overflow: hidden;
    }

    .search-input {
        background: none;
        border: none;
        display: block;
        padding: 5px 0;
        margin: 0 5px;
        font-size: 14px;
        outline: none;
        line-height: normal;
        &:focus {
            outline: none;
            box-shadow: none;
            border: none;
        }
    }
    .search-button {
        float: left;
        padding: 4px 20px;
        // background: $themeBg;
        color: #fff;
        outline: none;
        border-radius: 0;
        &:hover {
            background: #9D330C;
            cursor: pointer;
        }
        &:active {
            outline: none;
        }
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .icon-search {
        float: right;
        margin-left: 10px;
        // color: $themeColor;
        // color: $themeBg;
    }
}

.search-icon-wrapper {
    position: relative;
    width: 350px;
    height: 300px;
    margin: 0 auto;
    background-color: #e6e6e6;

    .search-icon {
        position: relative;
        width: 200px;
        margin: 0 auto;
        padding: 50px 0;
        text-align: center;

        &:before {
            content: '';
            width: 100px;
            height: 100px;
            border: 20px solid #333;
            border-radius: 100px;
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 30px;
            width: 70px;
            transform: rotate(45deg);
            border: 12px solid #333;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
        }
    }
}

.input-btn-nav-menu{
    display: none;
    &:checked{
        & + .header{
            position: fixed;
            top: 0;
            left: 0;
            height: 50px;
            width: 100%;
            & .lb-nav-menu > .btn-nav-menu {
                & > .bar1 {
                    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                    transform: rotate(-45deg) translate(-9px, 6px);
                }

                & > .bar2 {opacity: 0;}

                & > .bar3 {
                    -webkit-transform: rotate(45deg) translate(-8px, -8px);
                    transform: rotate(45deg) translate(-8px, -8px);
                }
            }

            & .sidenav-section{
                right: 0;
            }
            & .sidenav{
                left: 0;
            }
        }
        & ~ .header-replace{
            height: 60px;
            width: 100%;
        }
    }
}

.lb-nav-menu{
    margin-left: 20px;
    .btn-nav-menu{
        display: inline-block;
        cursor: pointer;
        padding: 5px 0;

        .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: #333;
            margin: 6px 0;
            transition: 0.4s;
        }
    }
}

@media (max-width: 320px) {
    .header-wrap{
    }
}

@media (min-width: 768px) {
    .header-wrap{
    }
}
@media (min-width: 992px) {
    .header{
        .header-wrap{
            max-width: 960px;
            padding: 0 16px;

            .lb-nav-menu{
                display: none;
            }
        }
        .sidenav-section{
            position: static;
            background: none;
            flex: 1;
            flex-wrap: unset;

            .sidenav{
                // display: block;
                position: static;
                width: auto;

                & > .menu{
                    margin: 0;
                    padding: 0;
                    & .menu{
                        // display:none;
                        position: absolute;
                    }
                    & > li{
                        display: inline-block;
                        height: 100%;
                        & > a{
                            // display: flex;
                            // align-items: center;
                            // justify-content: center;
                            height: 100%;
                            padding: 0 20px;
                            background: none;
                            border: none;
                        }
                        &:hover{
                            & > .menu{
                                display:block;
                            }
                        }
                    }
                }

                .side-account{
                    padding: 0;
                    order: 2;
                    .register, .login{
                        display: inline-block;
                        background: none;
                        color: inherit;

                        span{
                            display: none;
                        }
                    }
                }
            }

            .sidenav-close{
                display: none;
            }
        }
    }
}

@media (min-width: 1200px) {
    .header{
        .header-wrap{
            max-width: 1140px;
            padding: 0 16px;
        }
    }
}