.home-ideas{
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;

    .item-hi{
        flex-grow: 1;
        // width: 33%;
        flex: 1 1 30%; /* explanation below */
        margin: 5px;
        padding: 10px;
        background: #fff;
        box-shadow: 0 1px 3px 0 #0002;

        .hi-img{
            &:before{
                content: '';
                display: block;
                padding-top: 100%;
            }
            // background-color: blue;
            overflow: hidden;
            position: relative;
            border-bottom: 1px solid #999;
            margin: -10px;
            margin-bottom: 0;

            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .hi-album{
            // font-size: 16px;
            font-family: Verdana;
            clear: both;
            // font-weight: bold;
            padding-top: 10px;
        }
        .hi-vendor{
            line-height: 18px;
            padding-top: 5px;

            .hi-avatar{
                margin-top: -25px;
                margin-right: 10px;
                float: left;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                width: 50px;
                height: 50px;
                box-shadow: 0 0 1px 0;
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            a{
                // color: #999;
                font-weight: bold;
            }
        }
    }
}
.wrap-home-services{
    background: #fff;
    padding: 20px 0;
    margin-top: 4px;
    .main{
        margin-bottom: 0;
    }
}
.home-services{
    display: flex;
    flex-wrap: wrap;
    // margin-left: -20px;
    // margin-right: -20px;
    background: #fff;
    // padding: 10px;
    background: #fff;
    justify-content:space-between;

    // margin-left: -10px;
    // margin-right: -10px;

    &.item-services{
        .item{
            flex: 0 1 50%;
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            box-sizing: border-box;

            & + .item{
                // border-top: none;
            }

            .item-info{
                text-align: center;
                .ii-logo{
                    width: 50px;
                    height: 50px;
                    float: none;
                    margin: 0 auto;
                }
                .ii-name{
                    padding-top: 10px;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: normal;
                    height: 36px;
                    overflow: hidden;
                }
                .ii-address{
                    font-size: 11px;
                    font-style: italic;
                    color: #999;
                }
            }

            .item-imgs{
                margin-right: -5px;
            }

            &:nth-of-type(2n){
                border-right: 1px solid #ddd;
            }
            &:nth-last-child(-n+2){
                border-bottom: 1px solid #ddd;
            }
        }

    }
}