.home-ideas{
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;

    .item-hi{

        // &:last-child{
        //     display: none;
        // }
        flex-grow: 1;
        // width: 33%;
        flex: 1 1 90%; /* explanation below */
        margin: 5px;
        padding: 10px;
        background: #fff;
        box-shadow: 0 1px 3px 0 #0002;

        .hi-img{
            &:before{
                content: '';
                display: block;
                padding-top: 100%;
            }
            // background-color: blue;
            overflow: hidden;
            position: relative;
            // border-bottom: 1px solid #999;
            margin: -10px;
            margin-bottom: 0;

            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                min-width: 100%;
                min-height: 100%;
            }
        }
        .hi-album{
            // font-size: 16px;
            // font-family: Verdana;
            // clear: both;
            // font-weight: bold;
            padding: 10px 0;
            height: 45px;
            text-align: justify;

        }
        .hi-des{

        }
        .hi-vendor{
            margin-left: -20px;
            margin-right: -20px;

            padding: 0 20px;
            display: flex;
            align-items: center;
            // border-top: 1px dashed #8e8e8950;

            .hi-avatar{
                // margin-top: -25px;
                margin-right: 10px;
                // float: left;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                width: 30px;
                height: 30px;
                box-shadow: 0 0 1px 0;
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            a{
                // color: #999;
                font-weight: bold;
                font-size: 13px;
            }
            .hi-time{
                // float: right;
                font-size: 11px;
                color: #6f7680;
                flex-grow: 1;
                text-align: right;
            }
        }
    }
}
.wrap-home-services{
    background: #fff;
    padding: 20px 0;
    margin-top: 4px;
    .main{
        margin-bottom: 0;
    }
}
.home-services{
    margin-bottom: 8px;
    // display: flex;
    // flex-wrap: wrap;
    // margin-left: -20px;
    // margin-right: -20px;
    // padding: 10px;
    // background: #fff;
    // justify-content:space-between;

    // margin-left: -10px;
    // margin-right: -10px;

    &.item-services{
        display: flex;
        flex-wrap: wrap;
        .item{
            background: #fff;
            // flex: 0 1 90%;
            // border-top: 1px solid #ddd;
            // border-left: 1px solid #ddd;
            // box-sizing: border-box;

            & + .item{
                // border-top: none;
            }

            .item-info{
                // text-align: center;
                align-content: space-between;
                .ii-logo{
                    width: 50px;
                    height: 50px;
                    float: none;
                    margin: 0 auto;
                }
                .ii-name{
                    padding-top: 10px;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: normal;
                    height: 36px;
                    overflow: hidden;
                }
                .ii-address{
                    font-size: 11px;
                    font-style: italic;
                    color: #999;
                }
            }

            .item-imgs{
                // margin-right: -5px;
                // margin: -2px -11px;
            }

            &:nth-of-type(2n){
                border-right: 1px solid #ddd;
            }
            &:nth-last-child(-n+2){
                border-bottom: 1px solid #ddd;
            }
        }

    }
}

.item-news{
    margin-bottom: 4px;
}

@media (max-width: 320px) {
}

@media (min-width: 768px) {
    .home-ideas{

        .item-hi{
            flex: 1 1 35%;
        }
    }
    .home-services{
        &.item-services{
            flex-wrap: wrap;
            margin: 0 -4px;
            margin-bottom: 8px;
            .item{
                flex: 1 1 45%;
                // margin: 4px;
                // padding: 0;
                align-items: stretch;

                .item-info{
                    flex: 1 1 50%;
                    // padding: 10px;
                    // margin-right: 0;
                    position: relative;

                    .info-service{
                        // order: 1;

                        .is-title{
                            display: block;
                        }
                        .is-description{
                            // height: 42px;
                        }
                    }

                    .info-vendor{
                        border-bottom: none;
                        padding-bottom: 0;

                        // position: absolute;
                        bottom: 10px;
                        left: 10px;
                        right: 10px;

                        // height: 36px;
                        // overflow: hidden;
                        // text-overflow: ellipsis;
                        // width: 100%;

                        .iv-name{
                            .rating{
                                color: #5f7f1f;
                            }
                        }
                    }
                }

                .item-imgs[data-group]{
                    flex: 1 1 40%;
                    margin: -17px;
                    margin-right: 0;
                }
            }
        }
    }
}
@media (min-width: 992px) {
    .home-ideas{
        margin-left: -10px;
        margin-right: -10px;
        .item-hi{
            margin: 10px;
            flex: 1 1 25%;
            // &:last-child{
            //     display: block;
            // }
        }
    }
    .home-services{
        &.item-services{
            margin: 0 -10px;
            margin-bottom: 10px;
            .item.thumb{
                margin: 10px;
                .item-info{
                    padding: 20px;

                    .info-service{
                        .is-description{
                            height: 60px;
                        }
                    }

                    .info-vendor{
                        left: 20px;
                        right: 20px;
                        bottom: 20px;
                    }
                }

                .item-imgs[data-group]{
                }
            }
        }
    }

    .item-news{
        margin: 0 -10px;
        margin-bottom: 10px;
        .i-news{
            margin: 10px;
            padding: 20px;
        }
    }
}

@media (min-width: 1200px) {
    .home-ideas{
        .item-hi{
            flex: 1 1 20%;
        }
    }

    .home-services{
        &.item-services{
            .item.thumb{
                .item-info{

                    .info-service{
                        .is-description{
                            height: 80px;
                        }
                    }
                }

                .item-imgs[data-group]{
                }
            }
        }
    }
}