/* DEFINE THEME COLOR */
$pageBackground   : #ebebeb;
$widgetBorder     : #ccc;// efefef
$widgetBackground : #fff;
$widgetBorderRadius : 3px;
$textColor        : #333;
$textHover        : #365899;
$yellow           : #f40;
$themeBg          : #F15A24;// cam
$themeColor       : #fff;
$priceColor       : #FF0000;// đỏ

@font-face {
    font-family: "robotoregular";
    font-display: swap;
    src: url("/static/fonts/Roboto-Regular.eot");
    src: local("Roboto Regular"), local("Roboto-Regular"),
         url("/static/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
         // url("/static/fonts/Roboto-Regular.woff2") format("woff2"),
         url("/static/fonts/Roboto-Regular.woff") format("woff"),
         url("/static/fonts/Roboto-Regular.ttf") format("truetype"),
         url("/static/fonts/Roboto-Regular.svg#robotoregular") format("svg");
    font-weight: normal;
    font-style: normal;

}

body {
    padding: 0;
    width: 100%;
    background: $pageBackground !important;
    // font-family: Helvetica Neue,Helvetica,Arial,\\6587\6CC9\9A5B\6B63\9ED1,WenQuanYi Zen Hei,Hiragino Sans GB,\\5137\9ED1 Pro,LiHei Pro,Heiti TC,\\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;/*Arial, Helvetica, sans-serif/* "Helvetica Neue", Helvetica, Arial, sans-serif */;
    font-family: 'robotoregular', Verdana, Geneva, sans-serif;
    // font-family: consolas,"Liberation Mono",courier,monospace;
    color: $textColor;
    font-size: 14px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
}
a, a:hover{
    color: #333;
    text-decoration: none;
}
ul, ol{
    list-style: none;
}
li{
    list-style: none;
}
*{
    margin: 0px;
    padding: 0px;
    outline: none;
}
img{
    font: 0/0 a;
}

h1{
    font-size: 30px;
    font-weight: 300;
}

.hidden{
    display: none !important;
}
.visibility-hidden{
    visibility: hidden;
}

.trans{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.overflow-hidden{
    overflow: hidden;
}
.blur{
    -webkikt-filter: url('#blur');
    filter: url('#blur');
}
.c{
    margin: -4px;
    & > .r{
        margin: 4px;
    }
}
.r{
    padding: 8px;

    // .cr{
    //     margin: -8px !important;
    // }
}
.cr{
    margin: 0 !important;
}
.f{
    display: flex;
}
.fw{
    //flex wrap
    display: flex;
    flex-wrap: wrap;
}
.sd{
    //shadow
    box-shadow: 0 1px 3px 0 #0002;
}
.buttons-group{
    display: flex;
    align-items: stretch;
    // border: 1px solid #0c8320;
    // border-radius: 5px;
    overflow: hidden;

    button{
        flex: 1 auto;
        border: none;
        background: none;
        color: #0c8320;
        padding: 10px 0;
        border: 1px solid #0c8320;

        & + button{
            border-left: none;
        }
    }

    .hl{
        background: #0c8320;
        color: #fff;
    }

    // vì ảnh hưởng của border cha nên không sd border cho group đc
    // mà sử dung cho từng button
    .first{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .last{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.wrap-main{
    background: #fff;

    .main{

    }
}
.main{
    margin-left: auto;
    margin-right: auto;

    padding: 0 8px;

    .main-top{
    }

    .main-wrap{
        display: flex;
        flex-flow: row wrap;
        // flex-wrap: wrap;
        align-items: flex-start;
        margin: 4px -4px;
        // justify-content: stretch;
    }
    .main-left, .main-right{
        flex: 1 0 80%;
        background: #fff;
        padding: 8px;
        margin: 4px;
    }

    .main-center{
        background: #fff;
        // min-width: 50%;
        flex-grow: 1;
        padding: 8px;
        margin: 4px;
    }
}

.tags{

    &.tag-remove{
        .tag{
            position: relative;
            display: inline-block;
            margin: 5px;
            cursor: pointer;

            &:after{
                content: '╳';
                font-size: 9px;
                width: 24px;
                height: 24px;
                line-height: 22px;
                border-radius: 50%;
                display: inline-block;
                background: #29a5de;
                color: #fff;
                text-align: center;
                vertical-align: middle;
                margin-left: 15px;
                margin-right: -5px;
            }

            &:hover{
                background: #29a5de;
                color: #fff;

                &:after{
                    background: #fff;
                    color: #29a5de;
                }
            }

            // .tag{
            //     margin: 0;
            //     border-top-right-radius: 25px;
            //     z-index: 2;
            //     position: relative;
            //     background: #fff;
            // }
        }
    }
    .tag{
        display: inline-block;
        color: #29a5de;
        border: 1px solid #29a5de;
        border-radius: 30px;
        padding: 5px 10px;
        margin: 5px;

        &.btn-remove{
            position: relative;
            padding: 0;
            border: none;
            border-radius: unset;

            &:hover{
                span{
                    background: #29a5de;
                    color: #fff;
                    text-decoration: line-through;
                }
            }

            span{
                padding: 5px 10px;
                margin: 0;
                border: 1px solid #29a5de;
                border-radius: 5px;
                // border-top-right-radius: 25px;
                z-index: 2;
                position: relative;
                background: #fff;
                display: inline-block;
            }

            &:before{
                content: '╳';
                font-size: 5px;
                // position: absolute;
                // z-index: 1;
                // top: 0;
                // right: 0;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                display: inline-block;
                background: #29a5de;
                color: #fff;
                // border-top-right-radius: 5px;
                // text-align: right;
                // padding: 2px;
            }
        }
    }
}

@media (max-width: 320px) {
    .main{
    }
}

@media (min-width: 768px) {
    .main{
        // CHƯA CHO SHOW VÌ Ở TRANG DANH MỤC NẾU SHOW LEFT THÌ NỘI DUNG NHỎ
        .main-wrap{
            // flex-wrap: nowrap;
        }
        .main-left, .main-right{
            // flex: 0 0 230px;
        }
    }
}
@media (min-width: 992px) {
    .c{
        margin: -8px;

        & > .r{
            margin: 8px;
        }
    }
    .r{
        padding: 16px;

        // .cr{
        //     margin: -16px !important;
        // }
    }
    .cr{
        // margin: 4px !important;
    }
    .main{
        max-width: 960px;
        padding: 0 16px;

        .main-wrap{
            margin: 8px -8px;
            flex-flow: nowrap;
            // justify-content: stretch;
        }

        .main-left, .main-right{
            margin: 8px;
            padding: 16px;
            flex: 0 0 230px;
        }

        .main-center{
            margin: 8px;
            padding: 16px;
        }
    }
}

@media (min-width: 1200px) {
    .main{
        max-width: 1140px;
        padding: 0;
    }
}