/* DEFINE THEME COLOR */
$pageBackground   : #ebebeb;
$widgetBorder     : #ccc;// efefef
$widgetBackground : #fff;
$widgetBorderRadius : 3px;
$textColor        : #333;
$textHover        : #365899;
$yellow           : #f40;
$themeBg          : #F15A24;// cam
$themeColor       : #fff;
$priceColor       : #FF0000;// đỏ

@font-face {
    font-family: 'robotoregular';
    src: url('/static/fonts/Roboto-Regular-webfont.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'),
         url('/static/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         // url('/static/fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('/static/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('/static/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/static/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    padding: 0;
    width: 100%;
    background: $pageBackground !important;
    // font-family: Helvetica Neue,Helvetica,Arial,\\6587\6CC9\9A5B\6B63\9ED1,WenQuanYi Zen Hei,Hiragino Sans GB,\\5137\9ED1 Pro,LiHei Pro,Heiti TC,\\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;/*Arial, Helvetica, sans-serif/* "Helvetica Neue", Helvetica, Arial, sans-serif */;
    font-family: 'robotoregular', Verdana, Geneva, sans-serif;
    // font-family: consolas,"Liberation Mono",courier,monospace;
    color: $textColor;
    font-size: 14px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
}
a, a:hover{
    color: #333;
    text-decoration: none;
}
ul, ol{
    list-style: none;
}
li{
    list-style: none;
}
*{
    margin: 0px;
    padding: 0px;
    outline: none;
}

h1{
    font-size: 30px;
    font-weight: 300;
}

.trans{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.main{
    margin-left: auto;
    margin-right: auto;

    padding: 0 8px;

    .main-top{
    }

    .main-wrap{
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        margin: 4px -4px;
        // justify-content: stretch;
    }
    .main-left, .main-right{
        flex: 1 0 230px;
        background: #fff;
        padding: 16px;
        margin: 4px;
    }

    .main-center{
        background: #fff;
        // min-width: 50%;
        flex-grow: 1;
        padding: 16px;
        margin: 4px;
    }
}

.tags{

    &.tag-remove{
        .tag{
            &:after{
                // content: '╳';
                font-size: 9px;
                vertical-align: top;
                // padding-left: 5px;
            }
            &:hover{
                background: #2d9b00;
                color: #fff;
                text-decoration: line-through;
            }
        }
    }
    .tag{
        display: inline-block;
        color: #2d9b00;
        border: 1px solid #55a32a4d;
        border-radius: 15px;
        padding: 5px 10px;
        margin: 5px;
    }
}

@media (max-width: 320px) {
    .main{
    }
}

@media (min-width: 768px) {
    .main{
    }
}
@media (min-width: 992px) {
    .main{
        max-width: 960px;
        padding: 0 16px;

        .main-wrap{
            margin: 8px -8px;
            // justify-content: stretch;
        }

        .main-left, .main-right{
            margin: 8px;
            flex-grow: 0;
        }

        .main-center{
            margin: 8px;
        }
    }
}

@media (min-width: 1200px) {
    .main{
        max-width: 1140px;
        padding: 0;
    }
}